<div class='col-md-12'>
  <div class="col-md-9">
    <div class="row">
      <% @photos.each do |photo| %>
       <div class="col-sm-3 col-xs-6">
          <center><h4>Title of Image</h4></center>
          <div class="panel panel-default">
            <div class="panel-thumbnail"><%=link_to image_tag(photo.avatar_url, class: "img-responsive"), photo_path(photo) %>
            </div>
            <p>By- Creator of image 10/10/14</p>
          </div>
        </div><!--/col-->
      <%end%>
    </div>
  </div>
  
  <div class="col-md-3 margin-top-5p">
    <div class="row">
     <div class="col-sm-9 col-xs-9">
        <%= link_to "Create Starter Pack", new_photo_path, class: 'btn btn-success' %>
      </div><!--/col-->

     <div class="col-sm-9 col-xs-9 margin-top-20">
        <div class="panel panel-default advertisement">
          <div class="panel-thumbnail">Ad block goes here
          </div>
        </div>
      </div><!--/col-->
    </div>

  </div>
</div>
