<div class="col-md-6 col-md-offset-2">
  <div class="col-md-12">
    <%= image_tag @photo.avatar.medium.url, class: 'view_image' %>
  </div>
  <div class="col-md-12 margin-top-10">
    <p><strong>Tags: </strong>Test, Test1</p>
  </div>

  <div class="col-md-12">
    <h1><strong>Comments</strong></h1>
  </div>

</div>

<div class="col-md-4">
  <div class="margin-top-5p">
    <div class="row">
     <div class="col-sm-9 col-xs-9">
        <%= link_to "Create Starter Pack", new_photo_path, class: 'btn btn-success' %>
      </div><!--/col-->

     <div class="col-sm-9 col-xs-9 margin-top-20">
        <div class="panel panel-default advertisement big-advt">
          <div class="panel-thumbnail">Ad block goes here
          </div>
        </div>
      </div><!--/col-->
    </div>
  </div>
</div>