
<div class="col-md-6 col-md-offset-2">
  <div class="col-md-12">
    <%= image_tag @photo.avatar.medium.url, class: 'view_image' %>
  </div>
  <div class="col-md-12 margin-top-10">
    <p><strong>Tags: </strong>Test, Test1</p>
  </div>

  <div class="col-md-12">
    <h1><strong>Comments</strong></h1>
    <%url = request.protocol + request.host_with_port + request.fullpath %>
    <div class="fb-comments" data-href="<%=url%>" data-numposts="5" data-colorscheme="light">
      Loading...
    </div>
  </div>

</div>

<div class="col-md-4">
  <%= social_share_button_tag(@photo.title, :url => full_path(@photo.avatar.medium.url) )%>
  <div class="margin-top-5p">
    <div class="row">
     <div class="col-sm-9 col-xs-9">
        <%= link_to "Create Starter Pack", new_photo_path, class: 'btn btn-success' %>
      </div><!--/col-->

     <div class="col-sm-9 col-xs-9 margin-top-20">
        <div class="panel panel-default advertisement big-advt">
          <div class="panel-thumbnail">Ad block goes here
          </div>
        </div>
      </div><!--/col-->
    </div>
  </div>
</div>