.margin-left-40{
  margin-left: 40px;
}

.margin-top-5p{
  margin-top: 5%;
}

.margin-top-10{
  margin-top: 10px;
}

.margin-top-20{
  margin-top: 20px;
}

.margin-bottom-5{
  margin-bottom: 5px;
}

.margin-bottom-10{
  margin-bottom: 10px;
}

.box{
  border: 1px solid red;
  img{
    width: 100%
  }
}

.margin-right-10{
  margin-right: 10px;
}

.advertisement{
  min-height: 150px;
}

.image_container{
  height: 200px;
  margin-bottom: 0px !important;
  cursor: pointer;
}

.error_box{
  border: 1px solid red !important;
}

.image_block{
  .panel{
    min-height: 200px;
  }
}

.big-advt{
  height: 300px;
  weight: 250px; 
}

.view_image{
  width: 500px;
}

.social-login-img{
  width: 36%;
}

.errors{
  color: red;
}