.margin-left-40{
  margin-left: 40px;
}

.margin-top-5p{
  margin-top: 5%;
}

.margin-top-10{
  margin-top: 10px;
}

.margin-top-20{
  margin-top: 20px;
}

.box{
  border: 1px solid red;
  img{
    width: 100%
  }
}

.margin-right-10{
  margin-right: 10px;
}

.advertisement{
  min-height: 150px;
}

.image_container{
  height: 200px;
  margin-bottom: 0px !important;
  cursor: pointer;
}

.error_box{
  border: 1px solid red !important;
}

.image_block{
  .panel{
    min-height: 200px;
  }
}